@import "_utils";



/* ---------------------------- COLOR ---------------------------- */
$text-schema: (
    text-color: (
        light: (
            color: 800
        ),
        dark: (
            color: 200
        ),
    ),
);

$text-secondary-schema: (
    text-color: (
        light: (
            color: 600
        ),
        dark: (
            color: 400
        ),
    ),
);

$bg-schema: (
    bg-color: (
        light: (
            color: 100
        ),
        dark: (
            color: 900
        ),
    ),
);

$bg-secondary-schema: (
    bg-color: (
        light: (
            color: 50
        ),
        dark: (
            color: 800
        ),
    ),
);

$bg-login-schema: (
    bg-color: (
        color: 800
    ),
);

$accent-schema: (
    accent-color: (
        light: (
            color: 600
        ),
        dark: (
            color: 400
        ),
    ),
);

/* ---------------------------- TILES ---------------------------- */
$tile-trans-schema: extend(
    $text-schema,
    $accent-schema,
    (
        hover-bg-color: (
            light: (
                color: 200
            ),
            dark: (
                color: 700
            ),
        ),
        active-bg-color: (
            light: (
                color: 300
            ),
            dark: (
                color: 600
            ),
        ),
    ),
);

$tile-schema: extend(
    $tile-trans-schema,
    $bg-secondary-schema,
);

$tile-border-trans-schema: extend(
    $text-schema,
    $accent-schema,
    (
        border-color: (
            light: (
                color: 300
            ),
            dark: (
                color: 700
            ),
        ),
        hover-border-color: (
            light: (
                color: 400
            ),
            dark: (
                color: 600
            ),
        ),
    ),
);

$tile-border-schema: extend(
    $tile-border-trans-schema,
    $bg-schema,
);

$tile-accent-schema: (
    text-color: (
        color: 50
    ),
    bg-color: (
        light: (
            color: 600
        ),
        dark: (
            color: 400
        ),
    ),
);

$tile-border-accent-schema: (
    text-color: (
        light: (
            color: 950
        ),
        dark: (
            color: 50
        ),
    ),
    bg-color: (
        light: (
            color: 100
        ),
        dark: (
            color: 950
        ),
    ),
    border-color: (
        light: (
            color: 400
        ),
        dark: (
            color: 600
        ),
    ),
    hover-border-color: (
        color: 500
    ),
);

/* --------------------------- BUTTONS --------------------------- */
$btn-schema: (
    text-color:(
        color: 500
    ),
    hover-text-color: (
        light: (
            color: 800
        ),
        dark: (
            color: 200
        ),
    ),
);

$btn-solid-accent-schema: (
    text-color: (
        light: (
            color: 50
        ),
        dark: (
            color: 950
        ),
    ),
    bg-color: (
        light: (
            color: 500
        ),
        dark: (
            color: 400
        ),
    ),
    hover-text-color: (
        light: (
            color: 50
        ),
        dark: (
            color: 950
        ),
    ),
    hover-bg-color: (
        light: (
            color: 600
        ),
        dark: (
            color: 300
        ),
    ),
    active-text-color: (
        light: (
            color: 50
        ),
        dark: (
            color: 950
        ),
    ),
    active-bg-color: (
        light: (
            color: 700
        ),
        dark: (
            color: 500
        ),
    ),
    disabled-text-color: (
        light: (
            color: 700
        ),
        dark: (
            color: 200
        ),
    ),
    disabled-bg-color: (
        light: (
            color: 200
        ),
        dark: (
            color: 800
        ),
    ),
    outline-color: (
        color: 600
    ),
);

$btn-outline-accent-schema: (
    text-color: (
        light: (
            color: 700
        ),
        dark: (
            color: 300
        ),
    ),
    bg-color: (
        color: 0
    ),
    hover-bg-color: (
        light: (
            color: 50
        ),
        dark: (
            color: 950
        ),
    ),
    active-bg-color: (
        light: (
            color: 100
        ),
        dark: (
            color: 900
        ),
    ),
    disabled-bg-color: (
        color: 0
    ),
    border-color: (
        light: (
            color: 700
        ),
        dark: (
            color: 300
        ),
    ),
    outline-color: (
        color: 600
    ),
);

/* ---------------------------- UTILS ---------------------------- */
$selection-schema: extend(
    $text-schema,
    $bg-schema,
);

$scrollbar-schema: (
    thumb-color: (
        light: (
            color: ("zinc", 300)
        ),
        dark: (
            color: ("zinc", 700)
        ),
    ),
    hover-thumb-color: (
        light: (
            color: 300
        ),
        dark: (
            color: 900
        ),
    ),
);