@tailwind base;
@tailwind components;
@tailwind utilities;

@import "colors.module";
@import "components";
@import "animations";
@import "_mixins";
@import "_schemata";

/* --------------------------- BREAKPOINTS ---------------------------
 *  xs     sm     md     lg      xl    2xl
 * 420px  576px  768px  992px  1200px 1400px
 */



/* -------------------------- TYPOGRAPHY -------------------------- */
.font-sans {
    font-family: var(--font-manrope), var(--font-noto-sans-tc), sans-serif;
}

.font-geist-mono {
    font-family: var(--font-geist-mono), var(--font-noto-sans-tc), monospace;
}

@layer base {
    h1, h2, h3, h4, h5, h6 {
        @apply leading-[1.25] text-balance;
    }
    
    h1 {
        @apply text-700 font-black;
    }
    h2 {
        @apply text-600 font-black;
    }
    h3 {
        @apply text-500 font-black;
    }
    h4, h5 {
        @apply text-400 font-bold;
    }
    
    p {
        @apply text-justify leading-[1.75];
    }

    code {
        @extend .font-geist-mono;
    }
}



/* ----------------------------- BODY ----------------------------- */
@layer base {
    html {
        scroll-behavior: smooth;
        scroll-padding-top: 6rem;
    }
    
    body {
        @apply min-h-svh overflow-x-hidden;
        overflow-y: overlay !important;
        scrollbar-gutter: stable both-edges;
    
        @extend .font-sans, .text-primary, .bg-primary;
        @apply text-400 tracking-[0.04em] leading-[1.5];
    }
}



/* ---------------------------- LAYOUT ---------------------------- */
@mixin wrapper-props($m1: 4rem, $m2: 6rem, $w: 1400px) {
    --margin: #{$m1};
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    width: min(100% - var(--margin), $w);
    margin-inline: auto;

    @media screen and (min-width: 576px) {
        --margin: #{$m2};
    }
}
.wrapper {
    @include wrapper-props;
}
.wrapper-sm {
    @include wrapper-props(2rem, 4rem, 1000px);
}
.wrapper-lg {
    @include wrapper-props(4rem, 6rem, 1800px);
}

.chat-layout {
    --base-size: 18rem;
    --max-size: 24rem;
    @apply grid md:grid-cols-[auto_1fr] w-screen h-svh overflow-hidden isolate;

    & .threads-sidebar {
        @apply fixed inset-0 right-auto md:static md:inset-auto;
        @apply z-1 transition-all;
        @apply w-screen xs:w-[var(--base-size)] md:w-[clamp(var(--base-size),_30vw,_var(--max-size))];

        &[data-expanded="false"] {
            @apply opacity-0 md:opacity-100;
            @apply -translate-x-1/2 md:translate-x-0;
        }
        &[data-expanded="true"] {
            @apply opacity-100 translate-x-0;
        }
    }

    & .thread-content {
        @apply z-2 transition-all;

        &[data-expanded="true"] {
            @apply translate-x-full xs:translate-x-[var(--base-size)] md:translate-x-0;
        }
    }
}

@layer components {
    .dropdown-layout {
        @apply relative flex;
    
        &[data-empty="false"] .dropdown {
            @apply grid #{!important};
        }
    
        & > .dropdown-container {
            @apply absolute top-full pt-4 z-2;

            &[data-type="full"] {
                @apply w-full;
            }
            &[data-type="auto"] {
                @apply right-0 sm:right-1/2 sm:translate-x-1/2;
                @apply lg:right-auto lg:left-1/2 lg:-translate-x-1/2;
            }
    
            & .dropdown {
                @apply hidden;
                @apply motion-safe:transition-all;
            
                animation: fadeIn 150ms ease-in-out;
            
                & > .dropdown-item {
                    @apply grid gap-2 p-2;
                }
            }
        }
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0;
            scale: 0.95;
            transform: 0 -1rem;
            transform-origin: top;
        } to {
            opacity: 1;
            scale: 1;
            transform: 0;
        }
    }
}




/* ---------------------------- COLORS ---------------------------- */
.text-primary, select, select option {
    @include customThemed($text-schema, $include-same-tag: true) using ($theme) {
        color: map-get($theme, "text-color");
    }
}
.text-secondary {
    @include customThemed($text-secondary-schema) using ($theme) {
        color: map-get($theme, "text-color");
    }
}
.text-accent {
    @include themed($accent-schema) using ($theme) {
        color: map-get($theme, "accent-color");
    }
}

.bg-primary {
    @include customThemed($bg-schema, $include-same-tag: true) using ($theme) {
        background-color: map-get($theme, "bg-color");
    }
}
.bg-secondary {
    @include customThemed($bg-secondary-schema) using ($theme) {
        background-color: map-get($theme, "bg-color");
    }
}

.bg-accent {
    @include themed($accent-schema) using ($theme) {
        background-color: map-get($theme, "accent-color");
    }
}



/* ---------------------------- STYLES ---------------------------- */
.twemoji {
    display: inline;
    height: 1.1em;
    width: 1.1em;
    margin-inline: 0.2em;
    vertical-align: -0.15em;
}



/* ---------------------------- PSEUDO ---------------------------- */
::selection, ::-webkit-selection {
    @include themed($selection-schema) using ($theme) {
        color: map-get($theme, "bg-color");
        -webkit-text-fill-color: map-get($theme, "bg-color");
        -moz-text-fill-color: map-get($theme, "bg-color");
        text-fill-color: map-get($theme, "bg-color");
        background: map-get($theme, "text-color");
    }
}

* {
    @include custom-scrollbar();
}