@tailwind base;
@tailwind components;
@tailwind utilities;

@import "colors.module";
@import "components";
@import "_constants";
@import "_schemata";

/* --------------------------- BREAKPOINTS ---------------------------
 *  xs     sm     md     lg      xl    2xl
 * 420px  576px  768px  992px  1200px 1400px
 */



/* -------------------------- TYPOGRAPHY -------------------------- */
@mixin font-sans {
    font-family: var(--font-inter-sans), var(--font-noto-sans-tc), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    // text-wrap: balance;
    line-height: 1.3;
}

h1 {
    font-size: $fs-700;
    font-weight: $fw-heavy;
    @supports (font-variation-settings: normal) {
        font-variation-settings: "wght" $fw-heavy;
    }
}

h2 {
    font-size: $fs-600;
    font-weight: $fw-bold;
    @supports (font-variation-settings: normal) {
        font-variation-settings: "wght" $fw-bold;
    }
}

h3 {
    font-size: $fs-500;
    font-weight: $fw-bold;
    @supports (font-variation-settings: normal) {
        font-variation-settings: "wght" $fw-bold;
    }
}

h4 {
    font-size: $fs-400;
    font-weight: $fw-bold;
    @supports (font-variation-settings: normal) {
        font-variation-settings: "wght" $fw-bold;
    }
}

p {
    // font-size: $fs-400;
    line-height: 1.6;
    text-align: justify;
}



/* ---------------------------- FONT+BODY ---------------------------- */
html {
    color-scheme: dark;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body {
    overflow-x: hidden;
    overflow-y: overlay !important;
    scrollbar-gutter: stable both-edges;

    @include font-sans;
    font-size: $fs-400;
    letter-spacing: 0.04em;
}



/* --------------------------- LAYOUTS --------------------------- */
@mixin wrapper-props($m1: 4rem, $m2: 6rem, $w: 1400px) {
    --margin: #{$m1};
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    width: min(100% - var(--margin), $w);
    margin-inline: auto;

    @media screen and (min-width: 576px) {
        --margin: #{$m2};
    }
}
.wrapper {
    @include wrapper-props;
}
.wrapper-sm {
    @include wrapper-props(2rem, 4rem, 1000px);
}
.wrapper-lg {
    @include wrapper-props(4rem, 6rem, 1800px);
}